.row
  .six.columns
    = image_tag "logo.png"
  .six.columns
    = link_to "Blog", "#", { :class => "nav-link" }
    = link_to "Videos", "#", { :class => "nav-link" }
    = link_to "Workouts", "#", { :class => "nav-link" }
    = link_to "Mission", "#", { :class => "nav-link" }
    = link_to "Coaches", "#", { :class => "nav-link" }
    = link_to "Splotlight", "#", { :class => "nav-link" }