.row.homepage-content
  .six.columns
    #featured
      = image_tag "http://sphotos.xx.fbcdn.net/hphotos-ash4/421926_407082032639061_321141644566434_1841310_1782878540_n.jpg"
      = image_tag asset_path("nationals.png")
      = image_tag "http://sphotos.xx.fbcdn.net/hphotos-ash4/401978_354758111204787_321141644566434_1680787_1410265771_n.jpg"
  .six.columns
    .panel
      %h4 Upcoming races
      %ul
        = link_to "#" do
          %li Cinco de Mayo 10k, May 6th
        = link_to "#" do
          %li Tucson 5000, May 13th
        = link_to "#" do
          %li Meet me Downtown 5k, June 2nd
    .panel  
      %h4 Recent articles
      %ul
        = link_to "#" do
          %li Allan's Neat Article Title
        = link_to "#" do
          %li Other Article By Katherine
        = link_to "#" do
          %li Article By Some Other Guy About Things We Like
 