.row
  .twelve.columns
    .panel
      %h4= post.title
      .small
        = "by " + post.user.full_name + " on " + post.date + " | "
        = "#" + post.tag_list.join(", #")
      = truncate(post.content, :length => 400)
      .full-article
        = link_to "Full article", post_path(post)
