.row
  .panel#post-container
    .row
      .twelve.columns
        %h2#post-title= @post.title
    .row
      .twelve.columns
        = format(@post.content)
        = tweet_button
        = facebook_like
        
        - if user_signed_in? 
          = link_to 'Edit', edit_post_path(@post)
          \|
          = link_to 'Back', posts_path

.row
  .twelve.columns
    .panel
      %h4 Got something to say?
      = simple_form_for PostComment.new do |f|
        .input-field
          = f.input_field :name, :placeholder => "Name"
        .input-field
          = f.input_field :email, :placeholder => "Email"
        = f.input :content
        = f.button :submit, { :class => "nice green radius" }

#toTop ^ Back to Top
