- if user_signed_in?
  .row
    .alert-box#user-actions
      %dl.sub-nav
        %dt Things you can manage:
        %dd
          = link_to "Blog", posts_listing_path
        %dd
          = link_to "Tips", tips_listing_path
        %dd
          = link_to "Post Comments", post_comments_listing_path
        %dd
          = link_to "Videos", videos_listing_path
        %dd
          = link_to "Events", events_listing_path
        %dd
          = link_to "Sign out", destroy_user_session_path, :method => :delete